<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>URLify</title>
</head>
<body>
<table>
  <tr>
    <td class="strong">Original URL</td>
    <td><%= inputs.last %></td>
  </tr>
  <tr>
    <td class="strong">'Shortened' URL</td>
    <td><a href="<%= url_path %><%= shorts.last %>"><%= url_path %><%= shorts.last %></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="/">"Shorten" another URL</a></td>
  </tr>

</table>
</body>
</html>